<!DOCTYPE html>
<html lang="en_US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Discipline" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/unobtrusive")
    @Scripts.Render("~/bundles/validate")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/colorpicker")
    @Scripts.Render("~/bundles/activities")
    @Scripts.Render("~/bundles/chart")

</head>
<body onload="initialLoad(event)">
    @RenderSection("Nav", false)
    @RenderSection("Body")
</body>
</html>