@using Discipline.Web.Models.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = "Discipline";
}

@section Header {
    <header class="row">
        <h1 class="col-xs-12 text-center login-page">
            @ViewBag.Title
        </h1>
    </header>
}

@section Body {

    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input type="hidden" name="RememberMe" value="true" id="RememberMe" />
                    <input type="submit" value="Log in" class="btn btn-default btn-block" />
                </div>
            }
        </div>
    </div>

    <div class="row" style="margin-top: 5%;">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="text-muted text-center">
                <h3><strong>Discipline</strong> is currently in closed alpha.</h3>
                <h4>It is currently not available for use by the general public.</h4>
                <p>If you're here for a demonstration, please login with the username: <strong>test@discipline.com</strong> and password: <strong>Password</strong>.</p>
            </div>
        </div>
    </div>
}