@using Tache.Domain.Entities
@model IEnumerable<Activity>

<div id="activitiesDropDown" style="">
    <div class="icon-box"><span class="icono-list"></span></div>
    <div class="activities-list">
        <div class="border-overlap"></div>
        <ul>
            @foreach (Activity activity in Model) {
                <li>
                    @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "bodyDiv", OnSuccess = "setupActivitiesCRUD" })) {
                        @Html.Hidden("newActivity", activity.Id);
                        @Html.Hidden("currentActivity", (object)ViewBag.CurrentActivity.Id);
                        <button data-activity-id="@activity.Id" data-activity-name="@activity.Name" data-activity-description="@activity.Description" data-activity-color="@activity.Color" data-activity-hours="@activity.BudgetHours" data-activity-minutes="@activity.BudgetMinutes" type="submit">@activity.Name</button>
                    }
                </li>
            }
        </ul>

        <div class="add-activity">
            <button type="button" id="new-activity">+</button>
        </div>
    </div>
</div>
@Html.Partial("ActivityCRUD", new Activity())