@using Tache.Domain.Entities
@model IEnumerable<Activity>

<div id="activitiesDropDown" style="display:inline-table;">
    <div class="icon-box">
        <span class="icono-list"></span>
    </div>
    <div class="activities-list">
        <div class="border-overlap"></div>
        <ul>
            @foreach (Activity activity in Model) {
                <li data-id="@activity.Id" data-name="@activity.Name" data-description="@activity.Description" data-color="@activity.Color">
                    <span class="activity-text">@activity.Name</span>
                    <div><span class="icono-trash"></span><span class="icono-sliders"></span></div>
                </li>
            }
        </ul>
        <div class="add-activity">
            <div class="border-overlap"></div>
            <span class="icono-plus"></span>
        </div>
    </div>
</div>