@using Tache.Domain.Entities
@model IEnumerable<Activity>

<div id="activitiesDropDown" style="display:inline-table;">
    <div class="icon-box"><span class="icono-list"></span></div>
    <div class="activities-list">
        <div class="border-overlap"></div>
        <ul>
            @foreach (Activity activity in Model) {
                <li data-id="@activity.Id"
                    data-name="@activity.Name"
                    data-color="@activity.Color"
                    data-description="@activity.Description">

                    @*<a href="#" class="activity-text">@activity.Name</a>*@
                    @Ajax.ActionLink(activity.Name, "Index", new { currentActivity = ViewBag.CurrentActivity.Id, newActivity = activity.Id }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "bodyDiv" })
                </li>
            }
        </ul>
        <div class="add-activity">
            <div class="border-overlap"></div>
            <span>New</span>
        </div>
    </div>
</div>