@model Tache.Web.Models.ViewModels.CurrentActivityViewModel

<h2>@Html.Raw(Model.TimeSpent)</h2>
<h4>@Html.Raw(Model.StartDateTime)</h4>
<h3>@Html.Raw(Model.BudgetStatus)</h3>

@*@Ajax.ActionLink("Show Chart", "Index", null, new AjaxOptions { HttpMethod = "GET", OnSuccess = "resolveAjaxReponseForChart" }, new { id = "show-chart", onclick = "prepareAnchorForChartRequest()" })*@

@*<hr />
<h4>I am going to start: </h4>*@

@*@Html.Partial("ActivitiesDropDown", Model.Where(a => a.Hide == false && a.Start == null))
    @Html.Partial("ActivityCRUD", new Activity())
    @Html.Partial("Chart")*@