@model Tache.Web.Models.ViewModels.CurrentActivityViewModel

<div class="row">
    <div class="col-xs-offset-3 col-xs-6">
        <h2 class="text-primary text-center">@Html.Raw(Model.TimeSpent)</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-3 col-xs-6">
        <h5 class="text-info text-right">@Html.Raw(Model.StartDateTime)</h5>
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-3 col-xs-6">
        <h4 class="text-danger text-center">@Html.Raw(Model.BudgetStatus)</h4>
    </div>
</div>

@*@Ajax.ActionLink("Show Chart", "Index", null, new AjaxOptions { HttpMethod = "GET", OnSuccess = "resolveAjaxReponseForChart" }, new { id = "show-chart", onclick = "prepareAnchorForChartRequest()" })*@

@*<hr />
    <h4>I am going to start: </h4>*@

@*@Html.Partial("ActivitiesDropDown", Model.Where(a => a.Hide == false && a.Start == null))
    @Html.Partial("ActivityCRUD", new Activity())
    @Html.Partial("Chart")*@