@model IEnumerable<Activity>

@{
    ViewBag.Title = "Tache";
}

@section Nav {
    <nav class="navbar navbar-default" style="border: 0; margin: 0; min-height: 0;" onclick="hideAllButActive(event)">
        <div class="container-fluid" style="padding: 0;">
            <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group" role="group"><button type="button" value="current-activity" class="btn btn-default active"><span class="glyphicon glyphicon-home"></span></button></div>
                <div class="btn-group" role="group"><button type="button" value="next-activity" class="btn btn-default"><span class="glyphicon glyphicon-check"></span></button></div>
                <div class="btn-group" role="group"><button type="button" value="activity-form" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button></div>
                <div class="btn-group" role="group">
                    @using (Ajax.BeginForm("Index", "Day", null, new AjaxOptions { HttpMethod = "GET", OnSuccess = "resolveAjaxReponseForChart" }, new { onclick = "addYearMonthDayToRequest(event)" })) {
                        @Html.Hidden("year");
                        @Html.Hidden("month");
                        @Html.Hidden("day");
                        <button type="submit" value="chart" class="btn btn-default"><span class="glyphicon glyphicon-stats"></span></button>
                    }
                </div>
                @*<div class="btn-group" role="group"><button type="button" value="chart" class="btn btn-default"><span class="glyphicon glyphicon-stats"></span></button></div>*@
                <div class="btn-group" role="group"><button type="button" value="settings" class="btn btn-default"><span class="glyphicon glyphicon-cog"></span></button></div>
            </div>
        </div>
    </nav>
}

@section Body{
    <div id="activity-status" class="container-fluid" style="padding:0;">
        @Html.Partial("ActivityStatus", Model)
    </div>

    <div id="activity-form" class="container-fluid page">
        @Html.Partial("ActivityForm", new Activity())
    </div>

    <div id="chart" class="container-fluid page">
        @Html.Partial("Chart")
    </div>
}