@model IEnumerable<Activity>

<div class="row">
    <div class="col-xs-offset-3 col-xs-6">
        <h4>I am going to start: </h4>
    </div>
</div>

<div class="row">
    <div class="col-xs-offset-3 col-xs-6">
        <div id="activities-button-group" class="btn-group-vertical" role="group">
            @foreach (Activity activity in Model) {
                using (Ajax.BeginForm("Index", new AjaxOptions { UpdateTargetId = "activity-status", OnSuccess = "resetPage" })) {
                    @Html.Hidden("newActivity", activity.Id);
                    @Html.Hidden("clientRequestTime");
                    <div class="btn-group btn-group-justified" role="group">
                        <div class="btn-group" role="group">
                            <button class="btn btn-default" data-activity-id="@activity.Id" data-activity-name="@activity.Name" data-activity-description="@activity.Description" data-activity-color="@activity.Color" data-activity-hours="@activity.BudgetHours" data-activity-minutes="@activity.BudgetMinutes" type="submit">@activity.Name</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cog"> </span></button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"> </span></button>
                        </div>
                    </div>
                }
            }
            <button type="button" class="btn btn-default" id="new-activity">+</button>
        </div>

    </div>
</div>

@*@Html.Partial("ActivitiesDropDown", Model.Where(a => a.Hide == false && a.Start == null))*@
@*@Html.Partial("ActivityCRUD", new Activity())*@
@*@Html.Partial("Chart")*@