@model Tache.Models.ActivityAndDurationsViewModel

@{
    ViewBag.Title = "Activities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var tuple in Model.Activities) {
    <h3>@tuple.Item1.Name</h3>
    <h5>@tuple.Item1.Description</h5>
    <hr />
    <ul>
        @foreach (var duration in tuple.Item2) {
            <li>
                <strong>From</strong> @duration.From.ToString() <strong>to</strong> @duration.To.ToString() <br />
                @if (duration.TimeSpent != null) {
                    <span><strong>Hours:</strong> @TimeSpan.FromTicks((long)duration.TimeSpent).ToString(@"hh\:mm")</span>
                } else {
                    <span>In Progress</span>;
                }
            </li>
        }
    </ul>
}